@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */
@import "Proxima-Nova.css";

@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Lato:300');





/* ------------------ DEBUGGING ------------------ */

/* ----------------------------------------------- */

:root {
    --accent-1: #ed542c;
    --main-font: "Bungee Hairline";
    --sec-font: "Lato";

    /* colours */
    --content-text: rgb(244, 207, 207);
    /* --salmon: #f78888; */
    --salmon:rgba(14, 162, 195, 0.9);
    --light-salmon: #f59595;
    --header-text: #dfdfdf;
    --section-title-text: #dbd8d8;

}

.universe {
    z-index: -10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(120%);
    background-color: black;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  
  .universe-container {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
  }
  
  .content {
    width: inherit;
    height: inherit;
  }
  
  #universe {
    width: 100%;
    height: 100%;
  }
  
  #footer {
    position: absolute;
    bottom: 0px;
    height: 300px;
    width: 100%;
  }
  
  #scene {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -800px;
    z-index: 100000;
  }

/* ------------------ LOADING ICON ------------------ */
div#loading-icon img { width: 3%; }
div#loading-icon {
    text-align: center;
    margin-top: 25%;
}

/* ------------------ ERROR MESSAGE ------------------ */
/* div #error {
    margin-top: 5%;
    text-align: center;
    display: none;
} */

/* ------------------ GENERAL BODY ------------------ */
body {
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    font-size: 18px;
    /* background-color: rgb(2, 2, 24); */
    background-color: #131313;
    color: var(--content-text);
    cursor: default;
}

div#wrapper { margin: 10% 20% 5% 20%; }

html { scroll-behavior: smooth; }

p { margin: 0; }

hl {
    background-color: #ffdfdf;
    padding: 0 8px;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: rgb(155, 154, 154);
    background-color: #F4F4F4;
    padding: 2px 8px;
    font-size: 16px;
}

/* ------------------ MENU ------------------ */
nav.navbar {
    /* background-color: rgb(2, 2, 24); */
    
    /* background-color: #131313; */
    background-color: none;
     border-bottom: 0.1rem solid rgba(174, 190, 234, 0.149);  
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(217, 214, 214, 0.939);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(14, 162, 195, 0.9);
}
 
nav.navbar a.icon img {
    display: inline-block;
    height: 25px;
    margin-right: 10px;
}
nav.navbar-brand{
    height: 50px;
}


nav.navbar div#social-media-icons {
    margin-right: 10px;
}

.btn-outline-primary {
    border-color: var(--salmon);
    color: var(--salmon);
    margin-left: 10px;
    margin-right:10px;
}

.btn-outline-primary:hover {
    background-color: var(--salmon);
    border-color: var(--salmon);
    /* color: white; */
}

.btn-outline-primary:focus, .btn-outline-primary:active {
    outline: none;
    box-shadow: none;
    background-color: var(--salmon);
    border-color: var(--salmon);
}

/* ------------------ HEADER ------------------ */

div.main-component > div#header {
    display: flex;
    /* border-bottom: 0.1rem solid rgba(174, 190, 234, 0.149); */
    padding-bottom: 20px;
}

div.main-component > div#header div#header-profile-pic {
    flex: .23;
    padding-right: 10%;
    
}

div#header div#header-profile-pic img {
    /* margin-top: 20px; */
    width: 340px;
    height: 340px;
    border-radius: 100%;
}

div.main-component >div#header div#header-content {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
    margin-top: 10%;
}


body div#header intro {
    font-family: 'proxima-nova';
    font-weight: 500;
    font-size: 56px;
    color: var(--header-text);
}

div#header name {
    color: var(--salmon);
}

div#header div#summary {
    font-size: 21px;
}

div#header div#summary b {
    font-weight: 700;
}

codersrank-widget {
    --bg-color: transparent;
    --header-bg-color: transparent;
    border: 1px solid var(--light-salmon);
    border-radius: 5px;
    width: 50%;
    margin-top: 30px;
    --header-text-color: var(--content-text);
}

div.icon-scroll {
	/* position: absolute; */
	/* top: 50%; */
    margin-top:12%;
	margin-left: 50%;
    width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
	/* z-index: 99999; */
}

@media screen and (max-width: 768px) {
    div.icon-scroll {
      display: none;
    }
  }

  
.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 0.315em;
	height: 0.315em;
	border-right: 1px solid rgba(255, 255, 255, 0.438);
	border-bottom: 1px solid rgba(255, 255, 255, 0.418);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.315em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255, 255, 255, 0.212);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}








.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  .ityped{
    color:var(--salmon);
  }
  .summary h3{
    margin-bottom: 10px;
  }
  
  



/* ------------------ SECTIONS ------------------ */

div#content div.section {
    padding-top: 70px;
    padding: 50px;
    border-radius: 30px;
    margin-bottom:1%;
    margin-top:1%;
    background-color: rgba(0, 0, 0, 0.363);
    border:1px solid rgba(255, 255, 255, 0.158);
}

div#content div.section > div.title {
    border-bottom: 0.1rem solid rgba(174, 190, 234, 0.149);
    font-size: 25px;
    /* margin-top: 5%; */
    width: auto;
    font-weight: 700;
    color: var(--salmon);
    padding-bottom:10px;
    border-bottom: 0.1rem solid rgba(174, 190, 234, 0.149);

}

/* skills */
div#content div.section#skills-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 100%;
} 

div#content div.section#skills-section ul li {

    border-left: solid #F4F4F4;
    padding-left: 15px;
    margin-bottom: 15px;

    -webkit-column-break-inside: avoid;
    /* column-break-inside: avoid; */
    page-break-inside: avoid;
}

/* div#content div.section#skills-section ul li p, */
div#content div.section#skills-section ul li > p.description {
    color: rgb(155, 154, 154);
}

div#content div.section#skills-section ul li:hover {
    border-left: solid var(--salmon);
    padding-left: 15px;
}

/* ------------------ SUBSECTIONS ------------------ */

div#content div.section div.overview div.date-and-title {
    display: flex;
    justify-content: space-between;
}

div#content div.section div.overview div.date-and-title div.date {
    text-align: right;
}

div#content div.section div.overview div.title {
    font-weight: 700;
    color: var(--header-text);
    margin-right: 20px;
}

div#content div.section div.subsection {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    /* border-bottom: 0.1rem solid rgba(174, 190, 234, 0.149); */
    /* display: flex; */
    /* display: inline-block; */
    /* justify-content: space-between; */
}

div#content div.section div.subsection > div.description {
    margin-top: 10px;
}

div#content div.section div.subsection div.overview div.description {
    color: rgb(158, 157, 157);
}

div#content div.section div.subsection div.tags {
    margin-top: 10px;
}

div#content div.section div.subsection div.tags div.tag {
    margin: 2px 2px 5px 0px;
    padding: 2px 8px;
    display: inline-block;
    color: rgb(7, 7, 7);
    background-color: #f4f4f499;
    font-size: 15px;
}

div#content div.section#languages div.description {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

div.description.contains-image p {
    width: 60%;
    display: inline-block;
    margin-right: 4%;
}

div.description.contains-image img {
    display: inline-block;
    vertical-align: top;
    width: 35%;
}

/* ------------------ FOOTER ------------------ */
div#copyright {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
}

a, a:focus {
    /* color: rgba(0,0,0,.5); */
    color: var(--light-salmon);
    cursor: pointer !important;
}

a:hover {
    color: rgb(158, 157, 157);
    /* color: var(--content-text); */
    text-decoration: none;
    cursor: pointer !important;
}


/* ------------------ SMALL MEDIA DISPLAY ------------------ */
@media screen and (max-width: 991px) {

    div.description.contains-image p {
        width: 100% !important;
        display: block !important;
        margin-right: 0 !important;
    }

    div.description.contains-image img {
        display: none !important;
    }

    div#header div#header-profile-pic {
        display: none;
    }
    
    div#content div.section#skills-section ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    div#content div.section#skills-section ul li p.description {
        display: none;
    }

    div#content div.section div.overview div.date-and-title {
        display: block !important;
        /* justify-content: space-between; */
    }

    div#content div.section div.overview div.date-and-title div.date {
        text-align: left;
    }

    div#content div.section div.subsection div.tags {
        display: none;
    }

    div#content div.section#languages div.description {
        display: block;
        /* justify-content: space-between; */
        width: 100%;
    }

    div#wrapper {
        margin: 5% 5% 5% 5%;
    }

    div#content div.section > div.title {
        font-size: 50px;
    }

    body div#header intro {
        font-size: 80px;
    }

    div#header div#summary {
        font-size: 40px;
    }

    body {
        font-size: 35px;
    }

    div#header div#summary code {
        font-size: 35px;
    }

    div#content div.section {
        padding-top: 60px;
    }

    nav.navbar a.icon img {
        /* display: inline-block; */
        height: 80px;
        margin-top: 25px;
        margin-right: 25px;
    }

    .btn-outline-primary {
        font-size: 45px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 10px 20px;
        border-radius: 15px;
        
    }

    nav.navbar div.navbar-collapse {
        padding: 25px 40px 45px 40px;
    }

    button.navbar-toggler {
        border-radius: 15px;
    }

    button.navbar-toggler > .navbar-toggler-icon {
        height: 80px;
        width: 80px;
        margin: 15px;
    }

    nav.navbar li {
        font-size: 45px;
        margin-bottom: 25px;
    }

    html {
        scroll-behavior: auto;
    }

    a.anchor {
        display: block;    
        position: relative;
        top: -100px;
        visibility: hidden;
    }
}

@media screen and (max-width: 1100px) {

    div#social-media-icons {
        display: none;
    }

}


.animated-icons {
	line-height: 1;
	font-family: "roboto", sans-serif;
	font-size: 1rem;
	color: #FFF;
    height: 40px;
    width: 100%;
    text-align: center;
	
	a {
		display: inline-block;
		width: 24px;
		vertical-align: middle;
		height: auto;
		margin-top: -1px;
		color: inherit;
		
		svg {
			height: auto;
			width: 100%;
		}
	}
	
	.icons {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 15px;
		width: 15px;
		overflow: hidden;
		margin-top: -3px;
		
		.icons-container {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			font-size: 0;
			animation: animateCopyright 10s infinite;
			
			> svg {
				width: 15px;
				height: 15px;
			}
		}
	}
}

@keyframes animateCopyright {
	0% { transform: translateY(0); }
	20% { transform: translateY(0); }
	25% { transform: translateY(-15px) }
	45% { transform: translateY(-15px) }
	50% { transform: translateY(-30px) }
	70% { transform: translateY(-30px) }
	75% { transform: translateY(-45px) }
	95% { transform: translateY(-45px)}
	100% { transform: translateY(0)}
}
